<ion-header >
  <ion-toolbar color="danger" >
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" >
      <ion-icon id="open-action-sheet" name="trash-outline"></ion-icon>
      <ion-action-sheet
        trigger="open-action-sheet"
        header="Excluir Pokémon"
        subHeader="Tem certeza de que deseja excluir este Pokémon? Esta ação não poderá ser desfeita."
        [buttons]="actionSheetButtons"
      ></ion-action-sheet>
    </ion-buttons>
    <ion-title size="default">Details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-row>
    <ion-col size="6">
      <img [src]="pokemon()?.image"  alt=""/>
    </ion-col>
    <ion-col size="6">
      <ion-title class="ion-no-padding">{{pokemon().name}}</ion-title>
    </ion-col>
  </ion-row>
  <h4> Descrição: </h4>
  <h5> {{pokemon().description}}</h5>
  <h4> Tipo(s):  </h4>
  <h5> {{pokemon().type}}</h5>
  <h4> Habilidades: </h4>
  <h5>{{pokemon().ability}}</h5>

  <h4> Evoluções: </h4>
  <swiper-container slides-per-view="1" autoplay=true>
    <swiper-slide>
      <img [src]="pokemon().evolutions.start.image" alt="">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{pokemon().evolutions.start.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{pokemon().evolutions.start.description}}
        </ion-card-content>
      </ion-card>
    </swiper-slide>
    <swiper-slide>
      <img [src]="pokemon().evolutions.second.image" alt="">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{pokemon().evolutions.second.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{pokemon().evolutions.second.description}}
        </ion-card-content>
      </ion-card>
    </swiper-slide>
    <swiper-slide>
      <img [src]="pokemon().evolutions.third.image" alt="">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{pokemon().evolutions.third.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{pokemon().evolutions.third.description}}
        </ion-card-content>
      </ion-card>
    </swiper-slide>
  </swiper-container>

</ion-content>
