<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="danger">
      <ion-title>Sobre</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true" class="ion-padding">
    <img alt="origem" src="assets/sobre-removebg-preview.png" />
    <h1>Origem</h1>
    <p>
      Os Pokémon surgiram no Japão, em 1996, com o lançamento dos jogos Poketto Monsutā Midori
      (Pokémon Green) e Poketto Monsuttā Aka (Pokémon Red). A origem da ideia dos Pokémon está no
      criador de jogos Satoshi Tajiri, que se inspirou em suas experiências de infância, quando capturava
      insetos na escola. Tajiri apresentou a sua ideia à Nintendo em 1990.
    </p>
    <p>
      O primeiro conceito da franquia surgiu nos subúrbios de Tóquio, na década de 1970, e
      foi inspirado na série Ultra Seven, onde o herói guardava monstros gigantes em esferas e os
      libertava quando ameaçavam a civilização.
    </p>
    <p>
      Os Pokémon são uma classe de criaturas inspiradas em animais, insetos, objetos, plantas ou criaturas mitológicas.
    </p>

  </ion-content>

</ion-content>
