<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="danger">
      <ion-title>Pokedex</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true" class="ion-padding">
    <swiper-container slides-per-view="1" autoplay=true>
      <swiper-slide> <img src="assets/pokedex/pokedex-1.png" alt=""> </swiper-slide>
      <swiper-slide> <img src="assets/pokedex/pokedex-2.png" alt=""> </swiper-slide>
      <swiper-slide> <img src="assets/pokedex/pokedex-4.jpg" alt=""> </swiper-slide>
    </swiper-container>
  </ion-content>

</ion-content>
